/*---------------   INPUTS   ---------------*/

.kf_field {
  margin-bottom: 1em;
}
.widget-content .kf_field:first-child {
  margin-top: 1em;
}
/*.kf_field:last-child {
  margin-bottom: 0;
}*/

#side-sortables .kf_field input[type="text"], #side-sortables .kf_field select {
  width: 99.3%;
}
#side-sortables .kf_field .cpicker input[type="text"] {
  width: auto;
}
/*---------------   IMG INPUT   ---------------*/

.kf_img_wrap {}

.kf_field .img_prev {
  float: left;
  background: url("../images/cpicker.png") repeat scroll -80px 0 transparent;
  border: 1px solid #CCCCCC;
  margin-right: -1px;
  min-width: 25px;
  min-height: 25px;
  text-align: center;
}
.img_prev.transparent {
  display: block;
  width: 100%;
  height: 180px;
  float: none;
  background: url("../images/transparent.gif") repeat scroll 0 0 transparent;
  border: 1px solid #CCCCCC;
  margin-right: -1px;
}
.kf_field .clear_img, .clear_color {
  background-color: #fff;
  background-image: url('../images/icons/clear.png');
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat 50% 50%;
  height: 10px;
  width: 10px;
  box-shadow: 0 0 0px 2px #fff inset;
  position: absolute;
  border: 1px solid #ddd;
  border-left: 0 none;
  display: inline-block;
}
.kf_field .upload_img {
  cursor: pointer;
  font-size: 10px;
  line-height: 12px;
  padding: 2px;
  margin: 1px 0 0;
  -webkit-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
  border-style: solid solid solid none;
  border-width: 1px 1px 1px 0;
  border-color: #CCCCCC #CCCCCC #CCCCCC transparent;
  background-color: #deded2;
}
.kf_field .upload_img:hover {
  background-color: #ccc;
}
.kf_img_wrap:hover .clear_img {
  display: inline-block;
}
/*--------------   LINK INPUT   ---------------*/

.kf_link_wrap .kf_text_wrap {
  width: 49%;
  float: left;
  margin-right: 2%;
  position:relative;
}
.kf_link_wrap .kf_text_wrap input[type="text"]{
  width:100%;
  padding-right: 24px;
}
.kf_link_wrap .kf_text_wrap:before {
  content: "\f103";
  font: normal 15px/1 'dashicons';
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 2px 0 2px 4px;
}
.kf_link_wrap .kf_select_wrap {
  width: 49%;
  float: left;
}
/*--------------   COLOR INPUT   ---------------*/

.kf_field_color {
  position: relative;
}
/*--------------   BACKGROUND INPUT   ---------------*/

.kf_field_typebackground > div:nth-child(1) {
  width: 20%;
}
.kf_field_typebackground > div:nth-child(2) {
  width: 12%;
  min-width: 70px;
}
.kf_field_typebackground > div:nth-child(3) {
  min-width: 128px;
  width: 21%;
}
.kf_field_typebackground > div:nth-child(4) {
  width: 16%;
  min-width: 100px;
}
.kf_field_typebackground > div:nth-child(5) {
  width: 14%;
  min-width: 80px;
}
.kf_field_typebackground > div:nth-child(6) {
  width: 12%;
  min-width: 76px;
}
.kf_setting > div:last-child {
  margin-right: 0;
}
.kf_settings {
  -webkit-transition: height 250ms;
  -moz-transition: height 250ms;
  transition: height 250ms;
  display: block;
}
.kf_settings .kf_options_panel {
  padding: 2%;
  background: #fff;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  border-radius: 5px;
  width: 76%;
  margin-right: 2%;
  min-height: 215px;
  color: #333333;
  border: 1px solid #ccc;
  position: absolute;
  right: 0;
  max-height: 750px;
  overflow-y: auto;
}
.kf_settings .kf_options_panel h3 {
  display: none;
}
.kf_settings .kf_options_panel .form-table th {
  width: 150px;
  position: relative;
}
.kf_settings_index {
  width: 18%;
  float: left;
}
.kf_settings_index a {
  display: block;
  cursor: pointer;
  padding: 10px 5px;
  font: 1.5em "Trebuchet MS", Arial, Helvetica, sans-serif;
  background: #efefef;
  border-color: #ccc #FFFFFF #ccc #ccc;
  border-style: solid solid solid solid;
  border-width: 1px;
}
.kf_settings_index a:focus {
  outline: 0 none;
}
.kf_settings_index li.ui-state-active a {
  background: #fff;
  border-right: 1px solid #fff;
  margin-right: -1px;
  z-index: 10;
  position: relative;
}
.kf_settings_index li:first-child a {
  border-radius: 5px 0 0 0;
}
.kf_settings_index li:last-child a {
  border-radius: 0 0 0 5px;
}
.kf_settings_index li {
  margin-bottom: -1px;
}
.kf_settings_index li a {
  color: #333;
  text-decoration: none;
}
.kf_settings_index li.kf_submit p {
  margin-top: 0;
}
.kf_settings h2 {
  text-align: center;
  font: 2em "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 0 0 0.5em;
  color: #000;
}
.kf_settings h2.button-primary {
  display: block;
  height: auto;
  padding: 10px 0;
  margin: 0 0 -3px 0;
}
.kf_map_settings input[type="text"], .kf_map_settings select {
  width: 30%;
  float: left;
}
.kf_map_settings textarea {
  width: 79%;
  float: left;
}
.kf_multi_field > div {
  display: inline-block;
  margin-right: 10px;
}
.kf_multi_field > div.kf_field_color {
  margin-right: 20px;
}
.kf_multi_field > div label {
  margin-right: 5px;
}
.kf_option td {
  background-color: #fff;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
.kf_option.error td {
  background-color: #FFC2C2;
}
.kf_option th .error_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -8px;
  font-size: 13px;
  color: #fff;
  text-align: center;
  height: 20px;
  font-weight: bold;
  width: 20px;
  border-radius: 16px;
  font-family: dashicons;
  background: #990000;
}
.kf_error {
  display: none;
}
.kf_option.type-font .kf_field label {
  display: block;
}
/*   ------------   TOOLTIP   ------------   */

*[tooltip] {
  position: relative;
}
*[tooltip]:hover:after {
  background: #333;
  background: rgba(0, 0, 0, .9);
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  content: attr(tooltip);
  left: 20%;
  padding: 10px 5px;
  position: absolute;
  z-index: 98;
  width: 230px;
  text-shadow: none;
  font-size: 10px;
  line-height: 1.5em;
}
*[tooltip]:hover:before {
  border: solid;
  border-color: #222 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}
.ks_info_tip {
  cursor: default;
}
/*-----------   UTILS   -----------*/
/* Clearing floats */

.clear:after, .wrapper:after, .format-status .entry-header:after {
  clear: both;
}
.clear:before, .clear:after, .wrapper:before, .wrapper:after, .format-status .entry-header:before, .format-status .entry-header:after {
  display: table;
  content: "";
}


.kf_prev_img {
	float:left;
	max-width:28px;
	height:auto;
}
