/*---------------   INPUTS   ---------------*/

.kf_field {
  margin-bottom: 1em;
}
.kf_field:last-child {
  margin-bottom: 0;
}
#side-sortables .kf_field input[type="text"], #side-sortables .kf_field select {
  width: 99.3%;
}
/*---------------   IMG INPUT   ---------------*/

.kf_img_wrap {} .kf_field .img_prev {
  float: left;
  background: url("../images/cpicker.png") repeat scroll -80px 0 transparent;
  border: 1px solid #CCCCCC;
  margin-right: -1px;
}
.img_prev.transparent {
  display: block;
  width: 100%;
  height: 180px;
  float: none;
  background: url("../images/transparent.gif") repeat scroll 0 0 transparent;
  border: 1px solid #CCCCCC;
  margin-right: -1px;
}
.kf_field .clear_img, .clear_color {
  background: url('../images/icons/clear.png') no-repeat 50% 50%/100% 100%;
  height: 12px;
  width: 12px;
  display: inline-block;
}
.kf_field .upload_img {
  cursor: pointer;
  font-size: 10px;
  line-height: 12px;
  padding: 2px;
  margin: 1px 0 0;
  -webkit-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
  border-style: solid solid solid none;
  border-width: 1px 1px 1px 0;
  border-color: #CCCCCC #CCCCCC #CCCCCC transparent;
  background-color: #deded2;
}
.kf_field .upload_img:hover {
  background-color: #ccc;
}



/*--------------   LINK INPUT   ---------------*/

.kf_link_wrap .kf_text_wrap{
    width: 49%;
    float: left;
    margin-right: 2%;
}

.kf_link_wrap .kf_select_wrap{
    width: 49%;
    float: left;
}





/*--------------   COLOR INPUT   ---------------*/

.kf_field_color {
  position:relative;
}



/*--------------   BACKGROUND INPUT   ---------------*/

.kf_field_typebackground > div:nth-child(1){
width:20%;
}
.kf_field_typebackground > div:nth-child(2){
width: 12%;
min-width: 70px;
}
.kf_field_typebackground > div:nth-child(3){
min-width: 128px;
width: 21%;
}
.kf_field_typebackground > div:nth-child(4){
width: 16%;
min-width: 100px;
}
.kf_field_typebackground > div:nth-child(5){
width: 14%;
min-width: 80px;
}
.kf_field_typebackground > div:nth-child(6){
width: 12%;
min-width: 76px;
}

.kf_setting > div:last-child{
    margin-right:0;
}